:root {
  --body-bg: #ffe5c8;
  --bs-primary: #001858;

  --bs-btn-color: #f582ae;
  --bs-btn-bg: #001858;
  --bs-btn-hover-color: #001858;
  --bs-btn-hover-bg: #f582ae;

  --bs-primary-rgb: 0, 24, 88;
  --bs-link-hover-color: #f582ae;
  --bs-link-hover-color-rgb: 245, 130, 174;
  --bs-link-color: #001858;
  --bs-link-color-rgb: 0, 24, 88;
}
body {
  background-color: var(--body-bg);
}

h1 {
  color: var(--bs-primary);
}

shadow {
  box-shadow: 0px 0px 1px 0px rgba(245, 130, 174, 0.3);
}

.btn-custom {
  color: #001858;
  background-color: #f582ae;
}

.btn-custom:hover {
  color: #f582ae;
  background-color: #001858;
}

.text-primary {
  color: var(--bs-primary);
}

.navbar-nav a {
  color: var(--bs-link-color);
}

.navbar-nav a:hover {
  color: var(--bs-link-hover-color);
}

.navbar-brand {
  color: var(--bs-link-color);
}

a.navbar-brand:hover {
  color: var(--bs-link-hover-color);
}

a {
  color: var(--bs-link-color);
  text-decoration: none;
}

a:hover {
  color: var(--bs-link-hover-color);
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container {
  padding: 0 0;
}

.background-image {
  background-image: url("../img/naslovna1400.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
}

.distance {
  margin-top: 150px;
}

/* @media (max-width: 768px) {
  .distance {
    margin-top: 120px;
  }
} */

footer hr {
  border-top: 4px solid var(--bs-primary);
}

footer a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .divider-top {
    border-top: solid 1px var(--bs-primary);
  }
}
